@import "tailwindcss";
@import "react-toastify/dist/ReactToastify.css";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/effect-cards";
@import "swiper/css/effect-cards";

@theme {
  --color-background: #1e1e1e;
  --color-primary-black-700: #28262d;
  --color-primary-black-800: #0d0c0f;
  --color-primary-black-900: #08080a;
  --color-primary-grey: #9ca4ab;
  --color-primary-white: #ffffff;
  --color-primary-red: #eb3f5e;
  --color-primary-green: #00925d;
}

body {
  font-size: 1.5rem;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #eb3f5e;
}

/* Swiper Styling */
.homeSlide {
  display: flex;
}
.swiper-pagination {
  z-index: 21;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 15px;
  height: 15px;
  transform: scale(0.7);
}

.swiper-pagination-bullet-active {
  background-color: white;
  transform: scale(1.2);
}

@layer components {
  .overlay {
    @apply absolute bottom-0 left-0 z-20 w-full h-16 opacity-25;
  }

  .before-overlay {
    @apply before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-full before:bg-black/50 before:duration-500;
  }
}
