@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 1.5rem;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #08080a;
  border: 1px solid #1e1e1e;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #eb3f5e;
}

.swiper-pagination {
  z-index: 21;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
  width: 15px;
  height: 15px;
  scale: 0.7;
}
.swiper-pagination-bullet-active {
  background-color: white;
  scale: 1.2;
}

@layer components {
  .overlay {
    @apply absolute bottom-0 left-0 w-full h-16 z-20 bg-black bg-opacity-25;
  }
  .before-overlay {
    @apply before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-full before:bg-black before:bg-opacity-30 before:duration-500;
  }
}
